@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/109588-plano-de-fundo-do-medico-vetor.jpg');
        }

        h1 {
            text-align: center;
        }

        img {
            background-size: cover; 
            background-repeat: no-repeat;
        }

    </style>

</head>
<body >
    <div>
        <h1>Exames</h1>
    </div>
    <table class ="table">
        <thead>
            <tr>
                <th scope="col">TipoExame</th>
                <th scope="col">DataExame</th>

            </tr>
        </thead>
        <tbody>

                    <tr>
                        <td>Prostota</td>
                        <td>22/02/23</td>
                    </tr>

        </tbody>
    </table>
     
    
</body>
</html>