@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
    
        }

        h1 {
            text-align: center;
        }

        img {
            width: 450px;
            height: 450px;
            position: relative;
            left: 750px;
        }

        table, th, td {
            border: 1px solid black;
            width: 60%;
        }
    </style>

</head>
<body>
    <div>
        <h1>Exames</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th >TipoExame</th>
                <th >DataExame</th>

            </tr>
        </thead>
        <tbody>

                    <tr>
                        <td>Prostota</td>
                        <td>22/02/23</td>
                    </tr>

        </tbody>
    </table>
    <img src="https://tess.pareto.io/uploads/wLEF9062MPYc.png" />

</body>
</html>