@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        img{
            width: 12%;
            height: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: silver;
        }
        body{
            background-color:silver;

        }
        body{
            text-align: center;
        }

    </style>
</head>
<body>
  <from>
        <table>
            <thead>
                <tr>
                    <th>Eventos</th>
                    <th>Dia do mes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://img.freepik.com/vetores-gratis/bola-de-futebol-na-net-pictograma_1284-11698.jpg?w=740&t=st=1701388615~exp=1701389215~hmac=29ab9c7c8e83ea9e1900012ac808a05e288a287c011465d9e5238369d06d3660" /> <label><b>Futebol</b></label></td>
                    <td>
                        <label><b>22/04</b></label>
                        <label><b>Participar</b></label>
                        <input type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://thumbs.dreamstime.com/z/v%C3%B4lei-e-bola-sobre-areia-no-fundo-do-ver%C3%A3o-jogos-de-lazer-ao-ar-livre-ilustra%C3%A7%C3%A3o-vetor-visualiza%C3%A7%C3%A3o-exerc%C3%ADcio-estilo-vida-247423214.jpg?w=992" />
                        <label><b>Voleibol</b></label>
                    </td>
                    <td>
                        <label><b>30/04</b></label>
                        <label><b>Participar</b></label>
                        <input type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://st4.depositphotos.com/9058402/29044/v/1600/depositphotos_290443318-stock-illustration-basketball-ball-falling-into-ring.jpg" />
                        <label><b>Basquete</b></label>
                    </td>
                    <td>
                        <label><b>02/05</b></label>
                        <label><b>Participar</b></label>
                        <input type="checkbox" />
                    </td>
                </tr>        
            </tbody>
        </table>
        <div>
            <button id="Botao">Confirmar</button>
        </div>
        <script>
            function Alerta() {     
                alert('Escolha feita com sucesso!');
            }

            document.addEventListener('DOMContentLoaded', function () {
                var meuBotao = document.getElementById('Botao');
                meuBotao.addEventListener('click', Alerta);
            });
        </script>
  </from>
</body>
</html>
