@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 10px;
            background-color: red;
        }

        button {
            padding: 10px;
            cursor: pointer;
            position: relative;
            left: 390px;
            border: none;
            border-radius: 10px;
        }

            button:hover {
                background-color: yellow;
            }

        #lista {
            display: none;
        }

        section {
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Invicta Sports</h1>
        <label for="Nome">------------------------------------------------</label>
    </div>
    <div>

        <div class="text-center">
            <h2>Esports disponiveis:</h2>
        </div>

    </div>
    <div>
        <button onclick="mostrar('lista')">Lista dos Esports</button>

        <section id="lista">
            <div class="text-center">
                <p><b>fute dos cria </b></p>
                <p><b>volei dos anao</b></p>
            </div>

        </section>


        <script>
            function mostrar(id) {
                document.getElementById('lista').style.display = 'none';


                document.getElementById(id).style.display = 'block';
            }
        </script>
    </div>


</body>
</html>