@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
@model List<Socios>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('https://img.freepik.com/fotos-premium/um-fundo-colorido-com-um-padrao-de-arco-iris_608068-12832.jpg');
        }
            

        h1 {
            text-align: center;
        }

        img {
            width: 350px;
            height: 250px;
            position: relative;
            left: 800px;
        }

    </style>

</head>
<body>
    <div>
        <h1>Exames</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">NomeCompleto</th>
                <th scope="col">Email</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Socios socios in Model)
                {
                    <tr>
                        <td> @socios.NomeCompleto</td>
                        <td> @socios.Email</td>
                    </tr>

                }
            }
        </tbody>
    </table>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>NomeDependentes</th>
                <th>Parentesco</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Ana Beatriz</td>
                <td>Filha</td>
            </tr>

        </tbody>
    </table>

</body>
</html>