<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
    <!-- Adicione seus estilos ou links para folhas de estilo aqui -->
</head>

<body>

    <header>
        <h1>Meu Site</h1>
        <!-- Aqui você pode adicionar seu menu de navegação, logotipo, etc. -->
    </header>

    <main>
        <section>
            <h2>Seção 1</h2>
            <p>Conteúdo da seção 1.</p>
        </section>

        <section>
            <h2>Seção 2</h2>
            <p>Conteúdo da seção 2.</p>
        </section>

        <!-- Adicione mais seções conforme necessário -->

    </main>

    <footer>
        <p>Rodapé da minha página.</p>
    </footer>

</body>

</html>
