<style>
    body {
        background-color: silver;
    }

    .paragrafo {
        margin-top: 25px;
        text-align: center;
    }

    img {
        margin-top: 25px;
        align-items: center;
        height: 600px;
        width: 1000px;
        margin-left: 150px;
    }

    h1 {
        text-align: center;
        margin-top: 15px;
    }
</style>
<body>
    <h1>Experiências dos nossos profissionais</h1>
    <div id="img-sla">
        <img src="~/img/Jovem.jpg" alt="jovem">
    </div>
    <div class="paragrafo">
        <p>
            O JOVEM PROGRAMADOR é um PROGRAMA de capacitação tecnológica para formação de jovens a partir de 16 anos para atuar em empresas do Estado de Santa Catarina, independentemente do local onde estejam instaladas.
        </p>
        <p>
            O curso permite que jovens possam se capacitar em Tecnologia da Informação através do parceiro de ensino, o Senac SC - Serviço Nacional de Aprendizagem Comercial - que dispõe de ampla experiência na área de formação e capacitação de profissionais e disponibilizará as instalações em aproximadamente 20 municípios de Santa Catarina.
        </p>
        <p>
            Os jovens contam com toda infraestrutura técnica e aulas de forma híbrida - online e presencial.
        </p>
        <p>
            A empregabilidade é o foco do PROGRAMA, que não mede esforços para gerar aos alunos a oportunidade de conseguir uma boa colocação no mercado de trabalho, especialmente nas empresas patrocinadoras e parceiras. O objetivo é proporcionar aos alunos ensino de qualidade, com metodologia e desenvolvimento de habilidades alinhadas às reais necessidades do setor de tecnologia.
        </p>
        <p>
            Para mais informações clique <a href="https://www.jovemprogramador.com.br/"> aqui.</a>
        </p>
    </div>

</body>