<style>
    body {
        background-color: silver;
    }

    .container {
        display: flex;
        align-items: center;
    }

    img {
        float: left;
        width: 250px;
        height: 300px;
        margin-top: 50px;
        margin-right: 30px;
    }

    p {
        width: 1000px;
    }

    .titulo {
        text-align: center;
    }
</style>
<body>
    <div class="titulo">
        <h2>Nossos Profissionais</h2>
    </div>
    <div class="container">
        <div id="img-sla">
            <img src="~/img/Kaiane.jpg" alt="Kaiane">
        </div>
        <p>
            Kaiane Fernandes da Silva<br />
            Idade: 17 anos<br />
            Formação: Ensino Médio Completo<br />
            Contato: (47) 984554354<br />
            Email: kaiane1524@gmail.com<br />
            Instagram:<a href="https://www.instagram.com/kaiane_silva_15/"> clique aqui</a>
        </p>
    </div>

    <div class="container">
        <div id="img-sla">
            <img src="~/img/kaiane.jpeg" alt="Kaiane">
        </div>
        <p>
            Kaiane Fernandes da Silva<br />
            Idade: 17 anos<br />
            Formação: Ensino Médio Completo<br />
            Contato: (47) 984554354<br />
            Email: kaiane1524@gmail.com<br />
            Instagram:<a href="https://www.instagram.com/kaiane_silva_15/"> clique aqui</a>
        </p>
    </div>

    <div class="container">
        <div id="img-sla">
            <img src="~/img/kaiane.jpeg" alt="Kaiane">
        </div>
        <p>
            Kaiane Fernandes da Silva<br />
            Idade: 17 anos<br />
            Formação: Ensino Médio Completo<br />
            Contato: (47) 984554354<br />
            Email: kaiane1524@gmail.com<br />
            Instagram:<a href="https://www.instagram.com/kaiane_silva_15/"> clique aqui</a>
        </p>
    </div>

    <div class="container">
        <div id="img-sla">
            <img src="~/img/kaiane.jpeg" alt="Kaiane">
        </div>
        <p>
            Kaiane Fernandes da Silva<br />
            Idade: 17 anos<br />
            Formação: Ensino Médio Completo<br />
            Contato: (47) 984554354<br />
            Email: kaiane1524@gmail.com<br />
            Instagram:<a href="https://www.instagram.com/kaiane_silva_15/"> clique aqui</a>
        </p>
    </div>

</body>