<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Aleatório</title>
    <script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js"></script>
    <style>
        img{
            width: 400px; 
            height: 400px;
        }
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <img src="/img/0fd6ef8b-2905-4a4d-9262-5ec0406f6fb2.jpg" />
    </div>
    <div>
        <p><h2>Aponte a a camera do celular para pagar</h2></p>
    </div>
</body>
</html>
